.sidebar {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 200px;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
